<div style="margin-top: 111px; margin-left: 460px;">
<h1>Tagalys Twitter App</h1>
<a style="margin-top: 15px; margin-left: 30px;" href="/twitter_oauth_url" class="btn btn-primary btn-larg">Connect to Twitter</a>
</div>